modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 24287
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_COLLECTION_MINT = "E43fUm91dfL6EYSwwwyyhLcAfAqCpNFt5nm8TEaGwujjo"
VITE_NETWORK = "mainnet-beta"
VITE_CANDY_MACHINE_ID = "BzBc8X9vhRJmisZ4Xn9jszxxVMxaY3umRi2x5WkbE4jB"
VITE_CANDY_GUARD_ID = "2paW8oP51SJ5yhnGBy3U8ixDz4w7S7zqFMwQqJ6GrwzL"
VITE_RPC_URL = "https://mainnet.helius-rpc.com/?api-key=69a1fdfe-5e40-4fb6-b827-0ece5705e544"
